<%-include ('../../partials/header.ejs')%>
<%-include ('../../partials/navbar.ejs')%>

<div class="container">

        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edição de animal</h2>
            </div>
            <div class="card-body">
                <form action="/cadastro/save" method="POST">
                    <br>
                    <input class="form-control" type="number" name="numero" value="<%= cadastro.numero %>" placeholder="Defina o número do animal">
                    <br>
                    
                    <div class="input-group mb-3">
                        <div class="card-header">
                            <h3>Sexo do animal</h3>
                        </div>
                        <div class="input-group-text">

                            <% if (cadastro.sexo == 'femea'){ %>
                                <input class="form-control" type="radio" name="sexo" value ="<%= cadastro.sexo %>" checked>
                                <input type="text" class="form-control" placeholder="Feminino">

                                <input class="form-control" type="radio" name="sexo" value ="<%= cadastro.sexo %>" >
                                <input type="text" class="form-control"  placeholder="Masculino">
                            <% } else { %>
                                <input class="form-control" type="radio" name="sexo" value ="<%= cadastro.sexo %>" >
                                <input type="text" class="form-control" placeholder="Feminino">
    
                                <input class="form-control" type="radio" name="sexo" value ="<%= cadastro.sexo %>" checked>
                                <input type="text" class="form-control"  placeholder="Masculino">
                            <% } %>

                        </div>
                    </div>
                    
                    <br>
                    <input class="form-control" type="date" name="nascimento" value="<%= cadastro.nascimento %>" placeholder="Defina a data de nascimento do animal">
                    <br>
                    <button class="btn btn-success">Atualizar</button>
                </form>
            </div>
        </div>
</div>


<%-include ('../../partials/footer.ejs')%>