<%-include ('../../partials/header.ejs')%>
<%-include ('../../partials/navbar.ejs')%>

<div class="container">
    <hr>
    <h2>Tela de cadastros</h2>
    <hr>
    <a class="btn btn-success" href="/admin/cadastro/new">Cadastrar novo animal</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Número</th>
                <th>Sexo</th>
                <th>Nascimento</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <% cadastros.forEach(cadastro  => { %>
                <tr>
                    <th><%= cadastro.id %></th>
                    <th><%= cadastro.numero %></th>
                    <th><%= cadastro.sexo %></th>
                    <th><%= cadastro.nascimento %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>
                        <form action="/cadastros/delete" method="POST" style="display: inline" onsubmit="confirmarDelecao(event, this)">
                            <button class="btn btn-danger">Deletar</button>
                            <input type="hidden" name="id" value="<%= cadastro.id %>">
                        </form>
                        
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%-include ('../../partials/footer.ejs')%>

<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        console.log("Formulario não enviado");

        var decision = confirm("Deseja mesmo deletar esse cadastro?");

        if(decision){
            form.submit();

        }else {
            
        }
    } 
</script>